parameters:
    scanFiles:
        - src/IntelliSenseHelper.php
        - ../../oxid-esales/oxideshop-ce/source/oxfunctions.php
    paths:
        - src
    excludePaths:
        - src/tests
    level: 9
    phpVersion: 70100
    ignoreErrors:
        - '#Psr\\Container\\ContainerExceptionInterface is not subtype of Throwable#'
        - '#Cannot cast mixed to string.#'
        - '#Method D3\\Linkmobility4OXID\\Setup\\Actions::getUniqueFieldTypes\(\) should return array\<string\> but returns array\<int, string\|null\>.#'