<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxuadmin">
            <SUBMENU id="mxusers" cl="admin_user" list="user_list">
                <TAB id="tbcluser_linkmobility" cl="d3linkmobility_user" />
            </SUBMENU>
            <SUBMENU id="mxorders" cl="admin_orders" list="order_list">
                <TAB id="tbclorder_linkmobility" cl="d3linkmobility_order" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>